// Colors
$themeColor: #F68712; 

// viewports
$tablets: 892px;
$desktop: 1036px;
$mobile: 600px;
@mixin mobile {
    @media (max-width: #{$mobile}){
        @content;
    }
}
@mixin tablets {
    @media (min-width: #{$tablets}){
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}


#about{
    height: 50vh;
    position: relative;
    padding-top: 60px;
    align-items: center;
    text-align: center;
    @include mobile{
        
    }
    .title_header{
        display:flex;
        justify-content:center;
        align-items:center;
        .extend{
            background-color:black;
            color:transparent;
            width:2rem;
            height:.3rem;
            border-radius:.5rem;
        }
        h1{
            margin-inline:1rem;
        }
    }
    #phone{
        position: absolute;
        left: 0;
        width: 500px;
        height: 200px;
        @include tablets{
            top: 60%;
            width: 300px;
            transform: rotate(15deg);
        }
    }
    #content_container{
        p{
            text-align: center;
            margin-top: 3em;
        }
    }
}