// Colors
$themeColor: #F68712; 

// viewports
$tablets: 692px;
$desktop: 836px;

@mixin mobile {
    @media (max-width: #{$tablets}){
        @content;
    }
}
@mixin tablets {
    @media (min-width: #{$tablets}){
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}

#contact{
    padding: 1.2em;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mobile{
        padding: 0;
    }
    .box{
        width: 92%;
        padding: 2em;
        background-color: black;
        position: relative;
        @include mobile{
            width: 100%;
        }
        .robot{
            position: absolute;
            left: -5.678em;
            bottom: 0;
            height: 60vh;
            @include mobile{
                height: auto;
                width: 60vw;
                left: -3.8em;
            }
        }
        h1{
            color: #F68712;
        }
        display: flex;
        justify-content: flex-end;
        @include mobile{
            justify-content: center;
        }
        .form{
            width: 30%;
            @include mobile{
                width: 100%;
                z-index: 1;
            }
            h1{
                font-size: .8em;
                text-align: end;
                margin-bottom: .8em;
            }
            .input_wrap{
                display: flex;
                flex-direction: column;
                    input,textarea{
                        outline: none;
                        background-color: rgba(255, 255, 255, 0.205);
                        padding: 8px;
                        border: transparent;
                        margin: 3px 0;
                        &::placeholder{
                            color: #000;
                        }
                        color: #000;
                        @include mobile{
                            background-color: rgba(255, 255, 255, 0.651);
                        }
                    }
                    input[type="button"]{
                        background-color: #F68712;
                        width: fit-content;
                        font-size: .7em;
                        padding: 8px 20px;
                        margin-top: .8em;
                    }
            }
        }
    }
}