// Colors
$themeColor: #F68712; 

// viewports
$tablets: 692px;
$desktop: 836px;

@mixin mobile {
    @media (max-width: #{$tablets}){
        @content;
    }
}
@mixin tablets {
    @media (min-width: #{$tablets}){
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}

#footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .8em;
    span{
        color: #F68712;
    }
    p{
        text-align: center;
    }
    .copyright{
        font-size: .7em;
    }
    #footer_wrapper{
        margin-bottom: 2em;
        .tab_links{
            ul{
                display: flex;
                li{
                    margin: 2em 1.2em;
                    @include mobile{
                        margin: 2em .8em;
                        font-size: .8em;
                    }
                }
            }
        }
        .socials{
            text-align: center;
            margin: 4em 0;
            img{
                height: 24px;
                margin: 0 1em;
                @include mobile{
                    height: 20px;
                    margin: 0 .6em;
                }
            }
        }
    }
}