// Colors
$themeColor: #F68712; 

// viewports
$tablets: 692px;
$desktop: 836px;
$mobile:50%;

@mixin mobile {
    @media (max-width: #{$mobile}){
        @content;
    }
}
@mixin tablets {
    @media (min-width: #{$tablets}){
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}

*{
    max-width:100vw;
    
}

#landing{
    height: 100vh;
    background-color: black;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/bg.png');
    position: relative;
    background: url('/assets/miradi.gif');
    background-size: cover;
    background-position: center;
    margin-top: -80px;
    @include mobile{ 
        align-items: center;
    }
    @include tablets{    
        display: flex;
        justify-content: flex-end;
    }
    .faceImage{
        position: relative;
        height: 100vh;
    }
    .ImageFace{
        position: absolute;
        top: 25%;
    }
    .intro{
        position: absolute;
        top: 25%;
        margin: 3em;
        padding: 1.2em;
        @include mobile{
            height: fit-content;
            width: 100%;
            text-align: center;
        }

        h1{
            font-size: 10px;
            text-align: center;
            align-items: center;
        }
        h2{
            color: #fff;
            margin-top: 40%;
            font-size: 1.5em;
            text-align: center;
            @include tablets{
                width: 100%;
                margin-top: 0;
            }
        }
        .button{
            margin-top: 4em;
            display: flex;
            justify-content: center;
            button{
                background: transparent;
                border: 1px solid #F68712;
                padding: 15px 25px;
                color: #F68712;
            }
        }
    }
}